<head th:fragment="head">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Regifted</title>

  <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">

  <script 
  src="https://unpkg.com/htmx.org@1.9.10" 
  integrity="sha384-0C2K+MZyR8aFYU2KshyV7jY5JoM1t8yWc1G4GvMoMWRnlbDo7e/Z7zE5+1mA1B+v" 
  crossorigin="anonymous">
  </script>
</head>
