<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
  <body>
    <div th:replace="fragments/header :: header"></div>
    <main class="container">
      <h1>Welcome to Regifted!</h1>
      <form role="group" action="/items" method="GET">
        <input name="q" type="q" placeholder="Search" />
        <input type="submit" value="Search" />
      </form>
    </main>
    <div th:replace="fragments/footer :: footer"></div>
  </body>
</html>
